{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "printWidth": 100,
    "endOfLine": "lf",
    "bracketSpacing": true,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true,
    "importOrderParserPlugins": [
        "classProperties",
        "decorators-legacy",
        "typescript"
    ],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@/app(.*)$",
        "^@/components(.*)$",
        "^@/graphql(.*)$",
        "^@/hooks(.*)$",
        "^@/libs(.*)$",
        "^@/providers(.*)$",
        "^@/schemas(.*)$",
        "^@/store(.*)$",
        "^@/styles(.*)$",
        "^@/utils(.*)$",
        "^../(.*)",
        "^./(.*)",
        "(.css|.scss)$"
    ],
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ]
}